<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <maib_gateway>
                <model>Magento\MaibPaymentGateway\Model\Payment</model>
                <payment_action>authorize</payment_action>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <general_settings>
                    <active>0</active>
                    <title>Maib</title>
                    <debug>1</debug>
                    <sort_order>1</sort_order>
                </general_settings>
                <configuration_maibmerchants>
                    <ok_url>ok</ok_url>
                    <fail_url>fail</fail_url>
                    <callback_url>callback</callback_url>
                </configuration_maibmerchants>
                <configuration_order_status>
                    <pending_status_id>pending</pending_status_id>
                    <completed_status_id>complete</completed_status_id>
                    <failed_status_id>canceled</failed_status_id>
                    <refunded_status_id>holded</refunded_status_id>
                </configuration_order_status>
            </maib_gateway>
        </payment>
    </default>
</config>
